p Dear #{first_name},
p Thank you for signing up with Din Dins Club, now you are one step forward on your super foodie journey!
p Din Dins endeavours to improve your overseas dinning experience, We will invite you to test our Beta when it's ready early next year, and your feedback is very important to us. We need you!
p We will update you soon.

p Thank you,

p Din Dins Club team
