extends layout
//test
block content
    // Team
    #team.section.scrollspy
      .container
        h2.header.text_b  Our Team 
        .row
          .col.s12.m3
            .card.card-avatar
              .waves-effect.waves-block.waves-light
                img.activator(src='img/avatar1.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Flash 
                  br
                  small
                    em
                      a.red-text.text-darken-1(href='#') CEO
                p
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-facebook-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-twitter-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-google-plus-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-linkedin-square
          .col.s12.m3
            .card.card-avatar
              .waves-effect.waves-block.waves-light
                img.activator(src='img/avatar2.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Cat Woman
                  br
                  small
                    em
                      a.red-text.text-darken-1(href='#') CTO
                p
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-facebook-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-twitter-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-google-plus-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-linkedin-square
          .col.s12.m3
            .card.card-avatar
              .waves-effect.waves-block.waves-light
                img.activator(src='img/avatar3.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Capt. America 
                  br
                  small
                    em
                      a.red-text.text-darken-1(href='#') CMO
                p
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-facebook-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-twitter-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-google-plus-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-linkedin-square
          .col.s12.m3
            .card.card-avatar
              .waves-effect.waves-block.waves-light
                img.activator(src='img/avatar4.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Robin
                  br
                  small
                    em
                      a.red-text.text-darken-1(href='#') CIO
                p
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-facebook-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-twitter-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-google-plus-square
                  a.blue-text.text-lighten-2(href='/')
                    i.fa.fa-linkedin-square