/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/eFRpvGLEW31oiexbYNx7Y_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v11/GtRkRNTnri0g82CjKnEB0Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(http://fonts.gstatic.com/s/lato/v11/muRcAtdNYlnTj3NeuakxChTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(http://fonts.gstatic.com/s/lato/v11/9TBVFLzQ3GUZLG8FZ4yrEfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v11/XNVd6tsqi9wmKNvnh5HNEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v11/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://fonts.gstatic.com/s/lato/v11/AcvTq8Q0lyKKNxRlL28RnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(http://fonts.gstatic.com/s/lato/v11/81X-1TO5y4aMK2PPy9kFwxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(http://fonts.gstatic.com/s/lato/v11/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.page-element .btn,
.page-element .contents,
.page-element.widget-form form,
.page-element.widget-form form input,
.page-element.widget-form form textarea,
.page-element.widget-form form select,
.page-element.widget-form form label
{
													font-family: Lato;
								font-weight: 400;
											}

.page-element.widget-headline .contents h1,
.page-element.widget-headline .contents h2,
.page-element.widget-headline .contents h3,
.page-element.widget-headline .contents h4,
.page-element.widget-headline .contents h5,
.page-element.widget-headline .contents h6
{
													font-family: Lato;
								font-weight: 300;
											}

[id^=___plusone] { width:51px !important; }

div.social.lines [id^=___plusone] { width:62px !important; }
div.social.lines span[class^=IN-widget] { min-width:70px !important; }
div.social.buttons [id^=___plusone] { width:36px !important; }
div.social.buttons div[class^=fb-like] { width:58px !important; }
div.social.tiles [id^=___plusone] { height:63px !important; margin-top: 2px !important; }
div.social.tiles .fb-like iframe { margin-top: 1px !important; }

.widget-testimonial.style-1 .contents div.testimonial-text
{
	margin-top: 0;
}

@media screen and (max-width: 768px)
{
	.notification > .notification-inner
	{
		width: auto;
		position: fixed;
		top: 40%;
		left: 1em !important;
		right: 1em !important;
		font-size: 24px;
	}
}
  
.page.page2.mobile .page-block
{
  width: 600px;
}

/* Safari only fix */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {

	.widget-form .select-outer select
	{
		padding-left: 10px;
	}

	.widget-form.mobile-form .select-outer select
	{
		padding-left: 10px;
	}
}

html
{
  height: 100%;
};

body
{
  background-color: #ffffff;
  background-position: top left;
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;        
}

.page .page-block .block-inner { background-color: transparent; }

#element-1  
{
	height: 63px;
	width: 959px;
	left: 0px;
	top: 111px;
	z-index: 5;
}

#element-1 p, #element-1 ul, #element-1 ol, #element-1 h1 
{
	font-size: 45px;
	line-height: 63px;
	text-align: center;
}
	
#element-2  
{
	height: 42px;
	width: 278px;
	left: 17px;
	top: 219px;
	z-index: 6;
}

#element-2 p, #element-2 ul, #element-2 ol, #element-2 h1 
{
	font-size: 30px;
	line-height: 42px;
	text-align: center;
}
	
#element-3  
{
	height: 44px;
	width: 302px;
	left: 0px;
	top: 274px;
	z-index: 7;
}

#element-3 p, #element-3 ul, #element-3 ol, #element-3 h1 
{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}
	
#element-4  
{
	height: 44px;
	width: 280px;
	left: 349px;
	top: 274px;
	z-index: 11;
}

#element-4 p, #element-4 ul, #element-4 ol, #element-4 h1 
{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}
	
#element-5  
{
	height: 42px;
	width: 278px;
	left: 350px;
	top: 219px;
	z-index: 10;
}

#element-5 p, #element-5 ul, #element-5 ol, #element-5 h1 
{
	font-size: 30px;
	line-height: 42px;
	text-align: center;
}
	
#element-6  
{
	height: 44px;
	width: 280px;
	left: 663px;
	top: 276px;
	z-index: 15;
}

#element-6 p, #element-6 ul, #element-6 ol, #element-6 h1 
{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}
	
#element-7  
{
	height: 42px;
	width: 278px;
	left: 664px;
	top: 221px;
	z-index: 14;
}

#element-7 p, #element-7 ul, #element-7 ol, #element-7 h1 
{
	font-size: 30px;
	line-height: 42px;
	text-align: center;
}
	
#element-8  
{
	height: 126px;
	width: 863px;
	left: 45px;
	top: 120px;
	z-index: 17;
}

#element-8 p, #element-8 ul, #element-8 ol, #element-8 h1 
{
	font-size: 45px;
	line-height: 63px;
	text-align: center;
}
	
#element-9  
{
	height: 68px;
	width: 844px;
	left: 57px;
	top: 259px;
	z-index: 18;
}

#element-9 p, #element-9 ul, #element-9 ol, #element-9 h1 
{
	font-size: 24px;
	line-height: 34px;
	text-align: center;
}
	
#element-10  
{
	height: 63px;
	width: 315px;
	left: 323px;
	top: 365px;
	z-index: 19;
}
	
#element-11  
{
	height: 63px;
	width: 959px;
	left: 0px;
	top: 88px;
	z-index: 20;
}

#element-11 p, #element-11 ul, #element-11 ol, #element-11 h1 
{
	font-size: 45px;
	line-height: 63px;
	text-align: center;
}
	
#element-59  
{
	height: 856px;
	width: 306px;
	left: 327px;
	top: 213px;
	z-index: 110;
}
	
#element-60  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 310px;
	z-index: 111;
}
	
#element-61  
{
	height: 36px;
	width: 302px;
	left: 330px;
	top: 240px;
	z-index: 112;
}

#element-61 p, #element-61 ul, #element-61 ol, #element-61 h1 
{
	font-size: 26px;
	line-height: 36px;
	text-align: center;
}
	
#element-62  
{
	height: 25px;
	width: 302px;
	left: 327px;
	top: 277px;
	z-index: 113;
}

#element-62 p, #element-62 ul, #element-62 ol, #element-62 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-63  
{
	height: 25px;
	width: 300px;
	left: 330px;
	top: 341px;
	z-index: 114;
}

#element-63 p, #element-63 ul, #element-63 ol, #element-63 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-64  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 373px;
	z-index: 115;
}
	
#element-65  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 433px;
	z-index: 119;
}
	
#element-66  
{
	height: 25px;
	width: 299px;
	left: 328px;
	top: 465px;
	z-index: 122;
}

#element-66 p, #element-66 ul, #element-66 ol, #element-66 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-67  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 497px;
	z-index: 123;
}
	
#element-68  
{
	height: 25px;
	width: 300px;
	left: 330px;
	top: 401px;
	z-index: 124;
}

#element-68 p, #element-68 ul, #element-68 ol, #element-68 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-69  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 560px;
	z-index: 126;
}
	
#element-70  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 623px;
	z-index: 130;
}
	
#element-71  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 684px;
	z-index: 134;
}
	
#element-72  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 747px;
	z-index: 138;
}
	
#element-73  
{
	height: 25px;
	width: 300px;
	left: 332px;
	top: 526px;
	z-index: 139;
}

#element-73 p, #element-73 ul, #element-73 ol, #element-73 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-74  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 809px;
	z-index: 142;
}
	
#element-75  
{
	height: 12px;
	width: 302px;
	left: 329px;
	top: 872px;
	z-index: 146;
}
	
#element-76  
{
	height: 59px;
	width: 302px;
	left: 330px;
	top: 904px;
	z-index: 147;
}

#element-76 p, #element-76 ul, #element-76 ol, #element-76 h1 
{
	font-size: 42px;
	line-height: 59px;
	text-align: center;
}
	
#element-77  
{
	height: 25px;
	width: 36px;
	left: 399px;
	top: 913px;
	z-index: 148;
}

#element-77 p, #element-77 ul, #element-77 ol, #element-77 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-78  
{
	height: 25px;
	width: 57px;
	left: 530px;
	top: 930px;
	z-index: 149;
}

#element-78 p, #element-78 ul, #element-78 ol, #element-78 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-79  
{
	height: 25px;
	width: 299px;
	left: 331px;
	top: 841px;
	z-index: 140;
}

#element-79 p, #element-79 ul, #element-79 ol, #element-79 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-80  
{
	height: 25px;
	width: 300px;
	left: 331px;
	top: 776px;
	z-index: 151;
}

#element-80 p, #element-80 ul, #element-80 ol, #element-80 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-81  
{
	height: 25px;
	width: 300px;
	left: 330px;
	top: 715px;
	z-index: 152;
}

#element-81 p, #element-81 ul, #element-81 ol, #element-81 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-82  
{
	height: 25px;
	width: 299px;
	left: 331px;
	top: 653px;
	z-index: 153;
}

#element-82 p, #element-82 ul, #element-82 ol, #element-82 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-83  
{
	height: 25px;
	width: 300px;
	left: 329px;
	top: 591px;
	z-index: 154;
}

#element-83 p, #element-83 ul, #element-83 ol, #element-83 h1 
{
	font-size: 18px;
	line-height: 25px;
}
	
#element-85  
{
	height: 45px;
	width: 960px;
	left: 0px;
	top: 70px;
	z-index: 157;
}

#element-85 p, #element-85 ul, #element-85 ol, #element-85 h1 
{
	font-size: 32px;
	line-height: 45px;
	text-align: center;
}
	
#element-86  
{
	height: 22px;
	width: 960px;
	left: 0px;
	top: 127px;
	z-index: 158;
}

#element-86 p, #element-86 ul, #element-86 ol, #element-86 h1 
{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}
	
#element-87  
{
	height: 22px;
	width: 960px;
	left: 0px;
	top: 304px;
	z-index: 159;
}

#element-87 p, #element-87 ul, #element-87 ol, #element-87 h1 
{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}
	
#element-88  
{
	height: 35px;
	width: 43px;
	left: 349px;
	top: 206px;
	z-index: 160;
}
	
#element-89  
{
	height: 36px;
	width: 36px;
	left: 421px;
	top: 205px;
	z-index: 161;
}
	
#element-90  
{
	height: 36px;
	width: 20px;
	left: 486px;
	top: 205px;
	z-index: 162;
}
	
#element-91  
{
	height: 36px;
	width: 36px;
	left: 535px;
	top: 205px;
	z-index: 163;
}
	
#element-92  
{
	height: 36px;
	width: 19px;
	left: 593px;
	top: 205px;
	z-index: 164;
}
	
#element-93  
{
	height: 73px;
	width: 338px;
	left: 299px;
	top: 374px;
	z-index: 165;
}
	
#element-94  
{
	height: 162px;
	width: 767px;
	left: 85px;
	top: 176px;
	z-index: 164;
}

#element-94 p, #element-94 ul, #element-94 ol, #element-94 h1 
{
	font-size: 62px;
	line-height: 81px;
	text-align: center;
}
	
#element-95  
{
	height: 83px;
	width: 122px;
	left: 738px;
	top: 337px;
	z-index: 166;
}
	
#element-96  
{
	height: 104px;
	width: 109px;
	left: 76px;
	top: 320px;
	z-index: 167;
}
	
#element-97  
{
	height: 102px;
	width: 102px;
	left: 449px;
	top: 320px;
	z-index: 168;
}
	
#element-102  
{
	height: 57px;
	width: 225px;
	left: 371px;
	top: 981px;
	z-index: 173;
}
	
#element-105  
{
	height: 52px;
	width: 196px;
	left: 3px;
	top: 11px;
	z-index: 176;
}

			
#page_block_header { height: 644px; }

#page_block_header .border-holder
{
	background-image: url(//dfsm9194vna0o.cloudfront.net/1313342-0-cook3668751920.jpg);
	
	background-color: transparent;
	
	background-repeat: no-repeat;	
  background-position: center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
		
	width: auto;
	border-width: 0;
	border-top-width: 0px;
	border-bottom-width: 0px;

	height: 644px;
		/* */
}

#page_block_header .block-inner
{
  margin-top: 0px;
}

			
#page_block_below_fold { height: 563px; }

#page_block_below_fold .border-holder
{
  background-image: none;
	background-color: transparent;
	background-repeat: repeat;	
  background-position: top_left;
	width: 960px;
	margin: 0 auto;
	border-width: 0px;
	height: 563px;
}

#page_block_below_fold .block-inner
{
	margin-top: 0px;
  margin-left: 0px;
}
			
#page-block-n8xaojqwljtt9 { height: 556px; }

#page-block-n8xaojqwljtt9 .border-holder
{
  background-image: url(http://dfsm9194vna0o.cloudfront.net/593709-0-bgblue.jpg);
	background-color: #d6d6d6;
	background-repeat: repeat;	background-position: center bottom;
  width: auto;
  border-width: 0;
  border-top-width: 0px;
  border-bottom-width: 0px;
  height: 556px;
  /* */
}

#page-block-n8xaojqwljtt9 .block-inner
{
	margin-top: 0px;
}
			
#page-block-1z9kpke39fvo0f6r { height: 1138px; }

#page-block-1z9kpke39fvo0f6r .border-holder
{
  background-image: none;
  background-color: transparent;
  background-repeat: repeat;	background-position: top_left;
  width: auto;
  border-width: 0;
  border-top-width: 0px;
  border-bottom-width: 0px;
  height: 1138px;
		/* */
}

#page-block-1z9kpke39fvo0f6r .block-inner
{
  margin-top: 0px;
}
			
#page-block-vm0e7ozlvs5x9a4i { height: 391px; }

#page-block-vm0e7ozlvs5x9a4i .border-holder
{
  background-image: none;
  background-color: #2f2f2f;
  background-repeat: repeat;	background-position: top_left;
  width: auto;
  border-width: 0;
  border-top-width: 0px;
  border-bottom-width: 0px;
  height: 391px;
  /* */
}

#page-block-vm0e7ozlvs5x9a4i .block-inner
{
  margin-top: 0px;
}

@media
screen and (min-width: 621px)  and (-webkit-max-device-pixel-ratio: 1.5),
screen and (min-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5)
{
	.new_mobile .page.page2.mobile .block-inner
	{
		width: 960px;
	}
}

@media
screen and (max-width: 620px),
screen and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5)
{
	.blackplug #footer-form-singin-wrapper .email-form-messagebox-wrapper
	{
		right: 12px;
		width: 175px;
	}

	.blackplug .form-create-account form .input-holder
	{
		display: block;
	}

	.blackplug .footer-form-singin-wrapper
	{
		width: auto;
	}

	.blackplug .plug-sign-up-button
	{
		width: 218px;
		margin-left: -18px;
	}

	.blackplug .plug-create-account
	{
		display: none;
		height: 404px;
		top: -135px;
		padding-top: 8px;
		border-top: 2px solid #d0d1d3;
	}

	.blackplug.footer-open .plug-create-account
	{
		display: block;
	}

	.blackplug .plug-create-account .mainheader
	{
		font-size: 30px;
		line-height: 30px;
	}
}

#element-96 {
  text-shadow: 1px 2px 3px #666;
}

#element-93 .dynamic-button
{
  background-color: #31aae9;
  color: #ffffff;
}

#element-93 .dynamic-button:hover
{
  background-color: #329ed6;
}


#element-93 .dynamic-button, #element-93 .image-button
{
  width: 338px;
  height: 73px;
  z-index: 165;
  line-height: 29px;
  font-size: 24px;
}

#elements-id-93,
#popup-d01thfkatt2lc8fr .popup-inner {
  width: 960px;
  height: 400px;
}

#popup-d01thfkatt2lc8fr .popup-inner .modal-content {
  width: 960px;
  height: 400px;
}

#element-popup_d01thfkatt2lc8fr_1 {
  height: 161px;
  width: 300px;
  left: 330px;
  top: 100px;
  z-index: 4;
}

#element-popup_d01thfkatt2lc8fr_1 .submit-button {
	background-color: #0066cc;
	color: #ffffff;
}

#element-popup_d01thfkatt2lc8fr_1 .field-checkbox .field-element input[type=checkbox]:checked + label:before {
	background-color: #0066cc;
	border-color: #0066cc;
}

#element-popup_d01thfkatt2lc8fr_1 .field-radio .field-element label:after {
	border-color: #0066cc;
}

#element-popup_d01thfkatt2lc8fr_1 .input-holder label {
	color: #000000;
}

#element-popup_d01thfkatt2lc8fr_1::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #000000
}

#element-popup_d01thfkatt2lc8fr_1:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #000000;
}

#element-popup_d01thfkatt2lc8fr_1::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #000000;
}

#element-popup_d01thfkatt2lc8fr_1:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #000000;
}

#element-popup_d01thfkatt2lc8fr_1 label.error {
	color: #C00;
}

#element-popup_d01thfkatt2lc8fr_1 input[type="text"],
#element-popup_d01thfkatt2lc8fr_1 input[type="password"],
#element-popup_d01thfkatt2lc8fr_1 input[type="email"],
#element-popup_d01thfkatt2lc8fr_1 textarea {
	color: #000000;
	background-color: #ffffff;
	border-color: #555555;
}

#element-popup_d01thfkatt2lc8fr_1 input::-webkit-input-placeholder {
	color: #000000;
}

#element-popup_d01thfkatt2lc8fr_1 input:-moz-placeholder {
	color: #000000;
	opacity: 1;
}

#element-popup_d01thfkatt2lc8fr_1 input::-moz-placeholder {
	color: #000000;
	opacity: 1;
}

#element-popup_d01thfkatt2lc8fr_1 input:-ms-input-placeholder {
	color: #000000;
}

#element-popup_d01thfkatt2lc8fr_1 select {
	color: #000000
}

#element-popup_d01thfkatt2lc8fr_1 select option {
	background-color: #ffffff;
}

#element-popup_d01thfkatt2lc8fr_1 select {
	border-color: #555555;
	background-color: #ffffff;
}

#element-popup_d01thfkatt2lc8fr_1 .dynamic-button:hover {
	background-color: #0066cc;
}

#element-popup_d01thfkatt2lc8fr_1 .submit-holder {
	position: relative;
}

#element-popup_d01thfkatt2lc8fr_1 .dynamic-button,
#element-popup_d01thfkatt2lc8fr_1 .image-button {
	position: absolute;
	margin: 0;
	top: 170px;
	left: 0px;
	width: 298px;
	height: 52px;
	box-sizing: content-box;
	line-height: 21px;
	font-size: 18px;
}

#element-10 .dynamic-button {
	background-color: #31aae9;
	color: #ffffff;
}

#element-10 .dynamic-button:hover {
	background-color: #329ed6;
}

#element-10 .dynamic-button,
#element-10 .image-button {
	width: 315px;
	height: 63px;
	z-index: 19;
	line-height: 25px;
	font-size: 21px;
}

#elements-id-10,
#popup-3j76o691kjw9izfr .popup-inner {
	width: 886px;
	height: 535px;
}

#popup-3j76o691kjw9izfr .popup-inner .modal-content {
	width: 886px;
	height: 535px;
}

#element-popup_3j76o691kjw9izfr_1 {
	height: 161px;
	width: 300px;
	left: 293px;
	top: 168px;
	z-index: 4;
}

#element-popup_3j76o691kjw9izfr_1 .submit-button {
	background-color: #0066cc;
	color: #ffffff;
}

#element-popup_3j76o691kjw9izfr_1 .field-checkbox .field-element input[type=checkbox]:checked + label:before {
	background-color: #0066cc;
	border-color: #0066cc;
}

#element-popup_3j76o691kjw9izfr_1 .field-radio .field-element label:after {
	border-color: #0066cc;
}

#element-popup_3j76o691kjw9izfr_1 .input-holder label {
	color: #000000;
}

#element-popup_3j76o691kjw9izfr_1::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #000000
}

#element-popup_3j76o691kjw9izfr_1:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #000000;
}

#element-popup_3j76o691kjw9izfr_1::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #000000;
}

#element-popup_3j76o691kjw9izfr_1:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #000000;
}

#element-popup_3j76o691kjw9izfr_1 label.error {
	color: #C00;
}

#element-popup_3j76o691kjw9izfr_1 input[type="text"],
#element-popup_3j76o691kjw9izfr_1 input[type="password"],
#element-popup_3j76o691kjw9izfr_1 input[type="email"],
#element-popup_3j76o691kjw9izfr_1 textarea {
	color: #000000;
	background-color: #ffffff;
	border-color: #555555;
}

#element-popup_3j76o691kjw9izfr_1 input::-webkit-input-placeholder {
	color: #000000;
}

#element-popup_3j76o691kjw9izfr_1 input:-moz-placeholder {
	color: #000000;
	opacity: 1;
}

#element-popup_3j76o691kjw9izfr_1 input::-moz-placeholder {
	color: #000000;
	opacity: 1;
}

#element-popup_3j76o691kjw9izfr_1 input:-ms-input-placeholder {
	color: #000000;
}

#element-popup_3j76o691kjw9izfr_1 select {
	color: #000000
}

#element-popup_3j76o691kjw9izfr_1 select option {
	background-color: #ffffff;
}

#element-popup_3j76o691kjw9izfr_1 select {
	border-color: #555555;
	background-color: #ffffff;
}

#element-popup_3j76o691kjw9izfr_1 .dynamic-button:hover {
	background-color: #0066cc;
}

#element-popup_3j76o691kjw9izfr_1 .submit-holder {
	position: relative;
}

#element-popup_3j76o691kjw9izfr_1 .dynamic-button,
#element-popup_3j76o691kjw9izfr_1 .image-button {
	position: absolute;
	margin: 0;
	top: 170px;
	left: 0px;
	width: 298px;
	height: 52px;
	box-sizing: content-box;
	line-height: 21px;
	font-size: 18px;
}

#element-102 .dynamic-button {
	background-color: #31aae9;
	color: #ffffff;
}

#element-102 .dynamic-button:hover {
	background-color: #329ed6;
}

#element-102 .dynamic-button,
#element-102 .image-button {
	width: 225px;
	height: 57px;
	z-index: 173;
	line-height: 23px;
	font-size: 19px;
}